* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #000;
    max-width: 100%;
}

.main {
    background-image: url(assests/Images/main_bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    position: absolute;
    top: 0;
    height: 70vh;
    width: 100vw;
    background-color: black;
    opacity: 0.69;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 77vw;
    height: 13vh;
    /* background-color: blue; */
    margin: auto;
}

nav span img {
    color: rgb(229, 9, 20);
    width: 149px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

nav .lang {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

}

nav .sign_in {
    background-color: red;
    color: white;
    padding: 4px 28px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
}

nav button img {
    align-items: center;
    color: white;
    width: 15px;
    position: relative;
    z-index: 10;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero {
    height: calc(100% - 13vh);
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    gap: 23px;
    padding: 0 30px;
    text-align: center;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 24px;
}

.sepration {
    height: 6px;
    background-color: rgb(61, 59, 59);
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

div>input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
}

.first {
    background-color: black;
    color: rgb(255, 255, 255);
    height: 83vh;
    width: 73vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    padding: 30px 30px;
}

.first> :nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 3vh;
}

.first div>:nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
}

.first div>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 69px;
    width: 23vw;
    left: 59px;
}

.second {
    background-color: black;
    color: rgb(255, 255, 255);
    height: 83vh;
    width: 73vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    padding: 30px 30px;
}

.second> :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 3vh;
}

.second div>:nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
}

.second div>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.secimg2 {
    position: relative;
}

.secimg2>img {
    width: 36vw;
    position: relative;
    top: 1px;
    right: 10px;
    z-index: 10;
}

.details {
    /* display: flex; */
    position: absolute;
    z-index: 10;
    left: 116px;
    bottom: 40px;
}

.detailsbox {
    display: flex;
    background-color: black;
    width: 19vw;
    height: 12vh;
    border: 1px white solid;
    border-radius: 7%;
}

.detailsbox img {
    width: 50px;
    padding: 2px 10px;
    font-size: 20px;
}

.detailsboxtext {
    display: flex;
    flex-direction: column;
}

.detailsboxtext :nth-child(2) {
    color: #0071eb;
    font-size: 0.75rem;
    font-weight: 400;
}

.detailsboxtext>div {
    color: #0071eb;
    font-size: 0.75rem;
    font-weight: 400;
}

.third {
    background-color: black;
    color: rgb(255, 255, 255);
    height: 83vh;
    width: 73vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    padding: 30px 30px;
}

.third> :nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 3vh;
}

.third div>:nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
}

.third div>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.secimg3 {
    position: relative;
}

.secimg3 img {
    width: 40vw;
    position: relative;
    z-index: 10;
}

.secimg3 video {
    position: absolute;
    top: 53px;
    width: 26vw;
    left: 101px;
}

.forth {
    background-color: black;
    color: rgb(255, 255, 255);
    height: 83vh;
    width: 73vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    padding: 30px 30px;
}

.forth> :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 3vh;
}

.forth div>:nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
}

.forth div>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.secimg4 {
    position: relative;
}

.secimg4 img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.faq {
    background-color: black;
    color: rgb(255, 255, 255);
    /* height: 100vh; */
    width: 73vw;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: center; */
    /* gap: 10px; */
    padding: 30px 30px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqquestions :nth-child(1) {
    background-color:  rgb(61, 59, 59);
    cursor: pointer;

}
.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox {
    transition: all 0.1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    width: 70vw;
    margin: 5px auto;
    cursor: pointer;
}

.faqbox:hover {
    color: white;
    background-color: #717070;

}

.faqbox:hover svg {
    filter: invert(1);
}

.faq h3 {
    color: white;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 30px;
}

footer {
    color: white;
    max-width: 70vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding: 14px;
}

.footer-item a {
    color: white;
}
.questions a {
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

footer button {
    position: relative;
    z-index: 10;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

footer button img {
    align-items: center;
    color: white;
    width: 15px;
    position: relative;
    z-index: 10;
}

footer .btn lang {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}